<head>
  <style>
    body {
      background-color: #ffffff;
      margin: 0 15%;
      font-family: sans-serif;
    }

    h1 {
      text-align: center;
      font-family: serif;
      font-weight: normal;
      text-transform: uppercase;
      border-bottom: 1px solid #57b1dc;
      margin-top: 30px;
    }

    h2 {
      color: #808080;
      font-size: 2em;
      margin-top: 30px;
    }
  </style>
</head>
<body>
  <h2>Zarejestruj czujnik</h2>
  <p>Chciałbyś pomóc nam tworzyć sieć? Chciałbyś wiedzieć, czy opłaca się wychodzić dzisiaj na zewnątrz? Zarejestruj czujnik już dziś!</p>
  <p>Czujnik możesz wykonać sam przy pomocy schematów zamieszczonych <a href="https://www.dropbox.com/s/cu3wbunpwrfmumt/Blueprint.pdf?dl=0">tutaj</a>.</p>
  <p>Zamówienie na czujnik można złożyć wysyłając maila na adres airpolex@gmail.com</p>

</body>
